<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <title>MelodyMixer</title>
</head>
<body>
    <h1>MAKE A PLAYLIST</h1>
    <h3>ARTIST</h3>
    <h3>GENRE</h3>
    <h1>Artists List</h1>
    <ul>
        {% for artist in artists %}
            <li>{{ artist }}</li>
        {% endfor %}
    </ul>
    <button>Generate</button>
</body>
</html>